.App {
  width: 466px;
  margin: 4% auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
}